body{
    font-family: 'Montserrat', sans-serif;
}
#title{
    background-color: #ff4c68;
    color: white;
}
.container-fluid{
    padding: 3% 15%;
}
h1 { 
    font-size: 3.5rem; 
    line-height: 1.5; 
    font-weight: 900;
}
/* Download Button */
.download-button{
    margin: 5% 3% 5% 0%;
}

    /* Navigation Bar */
.navbar{
    padding: 0px  100px 50px 0;
    background-color: #ff4c68;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    font-size: 20px;
    padding: 0px 18px;
}

.dogCover{
    transform: rotate(25deg);
    width: 350px;
    position: absolute;
}

    /* Features */
#features{
    background-color: white;
    position: relative;
    
}
.row{
    padding: 5% 0;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}
p{
    color:#8f8f8f;
}
.feature-box{
    padding: 5%;
}

    /* Features Icon */
.icon{
    color: #ef8172;
    padding-bottom: 15px;
    font-size: 60px;
}
.icon:hover{
    color: #ff4c68;
}

    /* Testimonials */
#testimonials{
    background-color: #ef8172;
    color: white;
    
}
h2{
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}
.testimonial-image{
    width: 150px;
    border-radius: 100%;
    margin-right: 10px;
}
.carousel-item{
    padding: 7% 15%
}

    /* PRESS */
#press{
    background-color: #ef8172;
    padding: 3%;
    
}
.press-img{
    width: 15%;
    padding: 0 15px;
}

    /* PRICING */
#pricing{
    padding: 100px;
}

    /* CTA */
#cta{
    color: white;
    text-align: center;
    background-color: #ff4c68;
    padding: 200px;
}
.ctn-h3{
    
    font-size: 60px;
    padding: 10px;
}
.cta-btn{
    margin: 40px 20px 0 10px;
}
#footer{
    text-align: center;
    background-color: white;
    color: black;
    padding-top: 100px;
    font-size: 1.5rem;
}
.footer-icon{
    margin: 5px;
}






    /* MEDIA QUERY */
@media(max-width: 1024px) {
    .dogCover {
      transform: rotate(0deg);
      width: 40%;
      position: absolute;
    }
    #title{
        text-align: center;
    }
    .card{
        margin-bottom: 25px;
    }
    .testimonial-text{
        font-weight: none;
        font-size: 35px;
    }
    .navbar{
        padding: 50px  50px 20px 55px;
        background-color: #ff4c68;
    }
    h1{
        font-size: 75px;
    }
    #features{
        margin-top: -230px;
        
    }
  }

@media(max-width:1470px){
    .dogCover{
        transform: rotate(0deg);
    }
}
@media(max-width:1050px){
    .dogCover{
        position: static;
    }
}
@media(max-width:1024px){
    .dogCover{
        width: 250px;
    }
}